body {
  font-family: sans-serif;
  background-color: #616161;
  flex-direction: column;
}

a {
  text-decoration: none;
}
.back{
  width: 100%;
  padding: 8%;
}
label {
  display: block;
}
nav{
  position:absolute;
  height:10%
}
nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
#cameraViewport{
  display: flex;
}
.hanger{
 display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 10%;
  
}
.catalog{
  display:flex;
  flex-flow: wrap;
  justify-content: space-between;  
  
}
.tile{
  border: 2px solid #135077;
  margin: 1%;
  display: flex;
  width: 45%;
  height: 200px;
  background-color: #8495a5;
  justify-content: center;
  align-items: center;
  line-height: 4px;
  text-align: center;

}

.bigTile{
  border: 2px solid #135077;
  display: flex;
  width: 45%;
  margin: 1%;
  height: 200px;
  background-color: #8495a5;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 4px;
  align-items: center;


}
.bigTileOn{
  border: 2px solid #ffffff;
  display: flex;
  width: 45%;
  margin: 1%;
  height: 200px;
  background-color: #8495a5;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 4px;
  align-items: center;


}

.bigTile img {
  height: 6em;
}
.bigTileOn img {
  height: 6em;
}
  .legendary h3 {
  color: darkorange;
}
 .rare h3{
  color: blue;
}
 .uncommon h3{
  color: forestgreen;
}
 .common h3{
  color: black;
}
.info{
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.stats{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.topHalf{
  width: 100%;
  display: flex;
  /* width: 100%; */
  justify-content: space-evenly;
  align-items: center;
  /* height: 59%; */
  justify-items: center;
  margin-bottom: 6%;
}
.mechViewport{
  display: flex;
  position: absolute;
  /* height: 30%; */
  justify-content: center;
  width: 50%;
  /* padding: 17%; */
}


.camera canvas {
  margin-left: -640px;
  position: sticky;
}
.pixi{
  height: 90%
}
.on{
  border: 2px solid #ffffff;
  margin: 1%;
  display: flex;
  width: 45%;
  height: 200px;
  line-height: 4px;
  background-color: #8495a5;
  justify-content: center;
  align-items: center;
  text-align: center;
}
