body {
  font-family: sans-serif;
  background-color: slategrey;
  flex-direction: column;
}

a {
  text-decoration: none;
}

label {
  display: block;
}
nav{
  position:absolute;
  height:10%
}
nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
#cameraViewport{
  display: flex
}
.hanger{
 display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 10%;
  
}
.info{
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.stats{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.topHalf{
  width: 100%;
  display: flex;
  /* width: 100%; */
  justify-content: space-evenly;
  align-items: center;
  /* height: 59%; */
  justify-items: center;
  margin-bottom: 6%;
}
.mechViewport{
  display: flex;
  position: absolute;
  /* height: 30%; */
  justify-content: center;
  width: 50%;
  /* padding: 17%; */
}


.camera canvas {
  margin-left: -640px;
  position: sticky;
}
.pixi{
  height: 90%
}

