body {
  font-family: sans-serif;
  background-color: slategrey;
  flex-direction: column;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
#cameraViewport{
  width: 640px;
  height: 480px;
}
.hanger{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  
}
.info{
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}


canvas {
  margin-left: -640px;
  position: sticky;
}

img {
  height: 40%;
  width: 40%;
}